  <script>
      function htmlEntities(str) {
        if (str == null) {
                return "";
        } else {
                str2 = String(str).replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'');
    return String(str2).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }
}
function booleantostr(bool) {
        if (bool == null) {
                return "";
        } else {
          if (bool == true) {
            return "<%= t :regist_true %>";
          } else {
            return "<%= t :regist_false %>";
          }
        }

}
  function enter(){
    if( window.event.keyCode == 13 ){
      search();
    }
  }
    function search(){
                        $("#resXmlHttpRequestObj").empty();
  $("#resXmlHttpRequestObj").append("<%= t :get_data %>");
        // 1.$.ajaxメソッドで通信を行います。
        //  20行目のdataは、フォームの内容をserialize()している
        //  →serialize()の内容は、cs1=custom1&cs2=custom2
            var data = {
        keyword: $("#keyword").val()
            };
      if ($("#registration").is(':checked')) {
        data.registration = "true"
      }
      if ($("#software").val() != "") {
        data.software = $("#software").val();
      }
        console.log(data);
        $.ajax({        
                url:"<%= ENV['FS_SERVER_URL']%>/api/v1/search/", // 通信先のURL
                type:"GET",             // 使用するHTTPメソッド
                data: data,
                contentType: 'application/json',
                //data:$("#form1").serialize(), // 送信するデータ
                dataType:"json", // 応答のデータの種類 
                                                // (xml/html/script/json/jsonp/text)
                timespan:1000           // 通信のタイムアウトの設定(ミリ秒)

                // 2. doneは、通信に成功した時に実行される
                //  引数のdata1は、通信で取得したデータ
                //  引数のtextStatusは、通信結果のステータス
                //  引数のjqXHRは、XMLHttpRequestオブジェクト
                }).done(function(data1,textStatus,jqXHR) {
                        console.log(data1);
                                $("#span1").text(jqXHR.status); //例：200
                                $("#span2").text(textStatus); //例：success    

                                // 3. キーを指定して値を表示 

                                // 4. JavaScriptオブジェクトをJSONに変換
                                var data2 = data1.data;
                        $("#resXmlHttpRequestObj").empty();
                        console.log(Object.keys(data2).length);
                  $("#resXmlHttpRequestObj").append("<hr/><%= t :result_counts %>:"+Object.keys(data2).length+"<br/>");
               //$("#resXmlHttpRequestObj").append("<input id='tablesearchinput'  class='search'/>");

                        $("#resXmlHttpRequestObj").append('<table id="tabledata">'); 
                  $("#resXmlHttpRequestObj").append('<thead><tr><th><%= t :url %></th><th><%= t :title %></th><th><%= t :short_description %></th><th><%= t :description %></th><th><%= t :registrations %></th></tr></thead>');
                        for(var i in data2){
                                    html = "<tr>";
                                    html += "<td bgcolor='#99CC00'><a href='https://" + htmlEntities(data2[i].uri)+ "' target='_blank'>"+htmlEntities(data2[i].uri)+"</a></td>";
                                    html += "<td bgcolor='#ffffff'>"+htmlEntities(data2[i].title)+"</td>";
                                    html += "<td title=\""+htmlEntities(data2[i].short_description).replace(/"/g, '&quot;')+"\" bgcolor='#dddddd'>"+htmlEntities(data2[i].short_description).substr(0, 32)+"</td>";
                                    html += "<td title=\""+htmlEntities(data2[i].description).replace(/"/g, '&quot;')+"\" bgcolor='ffffff'>"+htmlEntities(data2[i].description).substr(0, 64)+"</td>";
                                    html += "<td bgcolor='#dddddd'>"+booleantostr(data2[i].registrations)+"</td>";
                                    html += "</tr>";
                                    $("#resXmlHttpRequestObj").append(html);
    }
                  $("#resXmlHttpRequestObj").append("</table>");

                                // 5.JSONをJavaScriptオブジェクトにし、
                                // キーを指定して値(httpbin.org)を表示

                // 6. failは、通信に失敗した時に実行される
                }).fail(function(jqXHR, textStatus, errorThrown ) {
                                $("#span1").text(jqXHR.status); //例：404
                                $("#span2").text(textStatus); //例：error
                                $("#span3").text(errorThrown); //例：NOT FOUND

                // 7. alwaysは、成功/失敗に関わらず実行される
                }).always(function(){
                                $("#span6").text("complete");
                                
        });
};
  </script>
  <div id="header">
    <table style="border:none;"  width="100%" align="right">
      <tbody style="border:none;" align="right">
        <tr>
          <td align="left"><a href="/menu">Menu</td>
        <td align="right" style="border:none;">
        <form name="form2" action="">
          <%= t :language %>:<select name="Select1" id="Select1" onchange="selectboxChange();">
      <option value="default" selected>---</option>
      <option value="en">English</option>
      <option value="ja">日本語</option>
      <option value="zh_Hant">繁體中文</option>
      <option value="de">Deutsche</option>
    </select>
        </form>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>created by <a href="https://popon.pptdn.jp/@popn_ja" target="_blank" rel="noopener noreferrer">popn_ja</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="<%= ENV['GITHUB_URL']%>" target="_blank" rel="noopener noreferrer">github</a></td>
       </tr>
       </tbody>
    </table>
  </div>
<h2>fediverse search (mastodon, pleroma, pixelfed, misskey, etc...)</h2>
*
<%= t :search_for_server %><br/><br/>
<%= t :index_counts %>:<span id="counts"></span><br/>
<form id="form1" onsubmit="return false;">
  <%= t :keyword %>:<input type="text" name="keyword" id="keyword" value="" onkeypress="enter();"><input type="button" id="button1" value="<%= t :search %>" onclick="search()"><br/>
  <%= t :registable %>:<input type="checkbox" name="registration" id="registration" value="regist"/><br/>
  <%= t :server_type %>:<select name="software" id="software">
    <option value="">-- <%= t :all %> --</option>
    <option value="mastodon">Mastodon</option>
    <option value="pleroma">Pleroma</option>
    <option value="misskey">Misskey</option>
    <option value="pixelfed">Pixelfed</option>
    <option value="peertube">PeerTube</option>
    <option value="friendica">Friendica</option>
    <option value="writefreely">Writefreely</option>
    <option value="hubzilla">Hubzilla</option>
    <option value="plume">Plume</option>
    <option value="other">Others</option>
  </select> * <%= t :select_software_annotation %>
</form>
  <div id="resXmlHttpRequestObj"><table id="tabledata"></table></div>
