<script>
  function startdnscheck() {
    const url = 'https://www.fediversesearch.com/dnscheck/?uri=';
    let uri = document.getElementById('uri').value;

fetch(url+encodeURIComponent(uri)).then(function(response) {
  return response.text();
}).then(function(result) {
  console.log(result);
  status = JSON.parse(result).status;
  if (status === 'SUCCESS') {
    let uriInput = document.getElementById('uri');
    uriInput.readOnly = true;
    let dnscheckInput = document.getElementById('dnscheck');
    dnscheckInput.disabled = true;
    let optoutInput = document.getElementById('optout');
    optoutInput.disabled = false;
  } else {
    alert('no set "nofediversesearch"');
  }
});
  }
function startoptout() {
    const url = 'https://www.fediversesearch.com/optout/?uri=';
    let uri = document.getElementById('uri').value;

fetch(url+encodeURIComponent(uri)).then(function(response) {
  return response.text();
}).then(function(text) {
  console.log(text);
});
  let optoutInput = document.getElementById('optout');
  optoutInput.disabled = true;
      let finishInput = document.getElementById('finish');
finishInput.disabled = false;
}
function startfinish() {
  location.href = "/";
}
</script>
<h2>Optout page</h2>
If you want to exclude your server or instance from this search service, do the following:<br/>
<ol>
  <li>Set "nofediversesearch" in the TXT field of DNS.</li>
  <li>Enter the server uri and click the "Check DNS" button. Once the system confirms that the TXT field is set, the Opt out button will be enabled.</li>
  <li>When you press the "Opt out" button, the DNS will be checked again and if there are no problems, the system will be set to exclude your server from search. Note that if you do this, it will not appear in the search results, but the uri will be retained to avoid collecting your server information.</li>
  <li>Click the "Finish" button to return to the top page.</li>
</ol>
* If you are using hosting and do not have your own domain, please wait as we are considering another method.<br/>
<hr/>
<div>
  <table align="center">
  <form name="form1" id="form1" onsubmit="return false;">
    <tr><td>URI you want to opt out : <input type="text" id="uri"></input></td></tr>
    <tr><td align='center'>↓</td></tr>
    <tr><td align='center'><%= button_tag :type => 'button', :id=> 'dnscheck', :onclick => 'startdnscheck()' do %>
        <%= 'DNS Check' %>
      <% end %>
      </td></tr>
          <tr><td align='center'>↓</td></tr>
          <tr><td align='center'><%= button_tag :type => 'button', :disabled=>true, :id=>'optout', :onclick => 'startoptout()' do %>
        <%= 'Optout' %>
      <% end %>
            </td></tr>
                      <tr><td align='center'>↓</td></tr>
          <tr><td align='center'><%= button_tag :type => 'button', :disabled=>true, :id=>'finish', :onclick => 'startfinish()' do %>
        <%= 'Finish' %>
      <% end %>
      </td></tr>
  </form>
  </table>
<hr/>
<a href="/menu">back</a>
