<script>
  function startdnscheck() {
    const url = '<%= ENV["FS_SERVER_URL"]%>/api/v1/dnscheck/?uri=';
    let uri = document.getElementById('uri').value;

fetch(url+encodeURIComponent(uri)).then(function(response) {
  return response.text();
}).then(function(result) {
  console.log(result);
  status = JSON.parse(result).status;
  if (status === 'SUCCESS') {
    let uriInput = document.getElementById('uri');
    uriInput.readOnly = true;
    let dnscheckInput = document.getElementById('dnscheck');
    dnscheckInput.disabled = true;
    let optoutInput = document.getElementById('optout');
    optoutInput.disabled = false;
  } else {
    alert('no set "nofediversesearch"');
  }
});
  }
function startoptout() {
    const url = '<%= ENV["FS_SERVER_URL"]%>/api/v1/optout/?uri=';
    let uri = document.getElementById('uri').value;

fetch(url+encodeURIComponent(uri)).then(function(response) {
  return response.text();
}).then(function(text) {
  console.log(text);
});
  let optoutInput = document.getElementById('optout');
  optoutInput.disabled = true;
      let finishInput = document.getElementById('finish');
finishInput.disabled = false;
}
function startfinish() {
  location.href = "/";
}
</script>
<h2><%= t :optout_page %></h2>
<%= t :optout_information %><br/>
<ol>
  <li><%= t :optout_description_1 %></li>
  <li><%= t :optout_description_2 %></li>
  <li><%= t :optout_description_3 %></li>
  <li><%= t :optout_description_4 %></li>
</ol>
* <%= t :optout_annotation %><br/>
<hr/>
<div>
  <table align="center">
  <form name="form1" id="form1" onsubmit="return false;">
    <tr><td><%= t :optout_fqdn_caption %> <input type="text" id="uri"></input></td></tr>
    <tr><td align='center'>↓</td></tr>
    <tr><td align='center'><%= button_tag :type => 'button', :id=> 'dnscheck', :onclick => 'startdnscheck()' do %>
        <%= 'Check DNS' %>
      <% end %>
      </td></tr>
          <tr><td align='center'>↓</td></tr>
          <tr><td align='center'><%= button_tag :type => 'button', :disabled=>true, :id=>'optout', :onclick => 'startoptout()' do %>
        <%= 'Optout' %>
      <% end %>
            </td></tr>
                      <tr><td align='center'>↓</td></tr>
          <tr><td align='center'><%= button_tag :type => 'button', :disabled=>true, :id=>'finish', :onclick => 'startfinish()' do %>
        <%= 'Finish' %>
      <% end %>
      </td></tr>
  </form>
  </table>
<hr/>
<a href="/menu">back</a>
